@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body {
  height: 100%;
}

body {
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

#modal {
  background-color: white;
  width: 0vw;
  height: 84vh;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 3vw;
  position: fixed;
  top: 5%;
  left: 50%;
  padding: 0px;
  z-index: 1;
  display: none;
  overflow-y: scroll;
}

#modalTitle {
  width: 90%;
}

#cancelModal {
  color: #202020;
  top: 2vh;
  right: 2vw;
  display: inline-block;
  position: absolute;
}

#cancelModal:hover {
  cursor: pointer;
}

#ingredientsTitle, #prepTitle {
  font-size: 2vw;
  position: relative;
  top: 4%;
}

#ingredientsList, #prepList {
  width: 50%;
  font-size: 1.5vw;
  position: relative;
  top: 2%;
}

#photo {
  width: 30vw;
  height: 20vw;
  position: absolute;
  top: 20%;
  left: 60%;
}

#top {
  /* font-size: 250%; */
  font-size: 3vw;
  text-align: center;
  position: relative;
  margin-top: 10%;
}

#mainfood {
  /* font-size: 550%; */
  font-size: 5.5vw;
  text-align: center;
  position: relative;
  margin-top: 4%;
}

#yncontainer {
  width: 100%;
  position: fixed;
  bottom: 15%;
}

#ycontainer, #ncontainer {
  width: 49%;
  display: inline-block;
  position: relative;
}

#yes, #no {
  /* font-size: 400%; */
  font-size: 4vw;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
}

#yes {
  float: right;
  right: 10%;
}

#no {
  float: left;
  left: 10%;
}

#yes::after, #no::after {
  background: transparent;
  width: 0px;
  height: 4px;
  content: "";
  display: block;
  margin: auto;
  -webkit-transition: width 0.25s ease, background-color 0s;
}

#yes:hover::after, #no:hover::after {
  width: 100%;
  background-color: black;
}

#yes:hover, #no:hover {
  cursor: pointer;
}

#vegbtn, #mapbtn {
  background-color: white;
  color: black;
  font-size: 2vw;
  padding: 10px 20px;
  display: inline-block;
  border: solid black 0.2vw;
  position: fixed;
  -webkit-transition: background-color 0.25s ease, color 0.25s ease;
}

#vegbtn {
  float: right;
  right: 1%;
  bottom: 2%;
}

#mapbtn {
  float: left;
  left: 1%;
  bottom: 2%;
}

#vegbtn:hover, #mapbtn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease, color 0.25s ease;
}
